.navbar {
  border-bottom: solid 3px black;
}

.link {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  border: solid black 2px;
  border-radius: 15px;
  background-color: rgb(69, 69, 69);
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.69);
}

.link:hover {
  background-color: rgba(69, 69, 69, 0.69);
}

.navbar {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 108, 203);
  height: 130px;
}

.signed-in {
  position: absolute;
  right: 15px;
  top: 10px;
}

.greeting {
  margin: 5px;
  font-size: 1.2em;
  font-style: italic;
}

.sign-out-button {
  padding: 5px;
  margin: 5px;
  border: solid black 2px;
  border-radius: 15px;
  background-color: rgb(69, 69, 69);
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sign-out-button:hover {
  cursor: pointer;
  background-color: rgba(69, 69, 69, 0.69);
}

h1 {
  font-family: monospace;
  font-size: 3em;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.291);
}
