.auth-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(57, 57, 57);
}

.auth-panel {
  border: solid 3px black;
  border-radius: 15px;
  padding: 10px;
  background-color: rgb(146, 146, 146);
  box-shadow: 8px 8px 8px 4px rgba(7, 7, 7, 0.69);
}

.auth-panel div {
  font-size: 1.2em;
  padding: 2px;
}

.panel-heading {
  margin-bottom: 15px;
  font-weight: bold;
  font-style: italic;
}
.panel-tabs {
  margin: 5px;
}
.auth-link {
  margin: 7px;
  color: black;
  border: solid 2px black;
  border-radius: 15px;
  padding: 4px;
  text-decoration: none;
  font-weight: bold;
  background-color: rgb(130, 130, 130);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.69);
}

.auth-link:hover {
  background-color: rgba(130, 130, 130, 0.3);
}

.is-active {
  background-color: rgb(108, 108, 203);
}

.is-active:hover {
  background-color: rgba(108, 108, 203, 0.7);
}

.input-div {
  justify-content: center;
  align-content: center;
}

.submit-button {
  padding: 5px;
  margin: 5px;
  border: solid black 2px;
  border-radius: 15px;
  background-color: rgb(69, 69, 69);
  color: white;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.69);
}

.submit-button:hover {
  cursor: pointer;
  background-color: rgba(69, 69, 69, 0.69);
}

.auth-input {
  border: solid black 2px;
  border-radius: 15px;
  padding: 8px;
}

.auth-input:focus {
  outline: 3px rgb(108, 108, 203) solid;
}
